.menu__item {
  margin-right: 20px;
  color: #626262;
}

.nav-column {
  text-align: right;
  margin-right: 10px;
  top: 50%;
}

body {
  font-family: "Ubuntu";
}

.wrapper {
  width: 100%;
  margin-top: 0;
  position: relative;
}

.highlighted {
  color: #333795;
}

.aqua {
  color: #33beb7;
}

.banner__background__image {
  position: relative;
}

.banner__background__doodle {
  position: absolute;
  top: 0;
  left: 0;
}

.banner__video {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  max-width: 60%;
}

.banner__text {
  color: white;
}

@media (min-width: 300px) {
  .banner__text {
    font-size: 8px;
  }
}

@media (min-width: 390px) {
  .banner__text {
    font-size: 11px;
  }
}

@media (min-width: 500px) {
  .banner__text {
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  .banner__text {
    font-size: 20px;
  }
}

@media (min-width: 800px) {
  .banner__text {
    font-size: 26px;
  }
}

@media (min-width: 1000px) {
  .banner__text {
    font-size: 32px;
  }
}

@media (min-width: 300px) {
  .banner__separator {
    width: 40%;
  }
}

@media (min-width: 380px) {
  .banner__separator {
    width: 40%;
  }
}

@media (min-width: 800px) {
  .banner__separator {
    width: 40%;
  }
}

@media (min-width: 1000px) {
  .banner__separator {
    width: 40%;
  }
}

.banner__image {
  position: absolute;
  left: 10%;
  bottom: 0;
}

.banner__container__image {
  margin-right: 0;
  max-height: 100%;
}

.image__kid {
  float: right;
  max-height: 100%;
}

.wrapper__text {
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.wrapper__right__text {
  text-align: justify;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 100%;
}

@media (min-width: 300px) {
  .wrapper__right__text {
    letter-spacing: -1px;
    font-size: 8px;
    overflow: auto;
  }
}

@media (min-width: 390px) {
  .wrapper__right__text {
    font-size: 10px;
  }
}

@media (min-width: 500px) {
  .wrapper__right__text {
    font-size: 11px;
  }
}

@media (min-width: 600px) {
  .wrapper__right__text {
    font-size: 12px;
  }
}

@media (min-width: 800px) {
  .wrapper__right__text {
    font-size: 15px;
  }
}

@media (min-width: 1000px) {
  .wrapper__right__text {
    font-size: 19px;
  }
}

.wrapper__container {
  max-width: 1200px;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
}

.content__container {
  min-height: 500px;
}

.article__title {
  text-align: left;
}

@media (min-width: 300px) {
  .article__title {
    letter-spacing: -1px;
    font-size: 9px;
    overflow: auto;
  }
}

@media (min-width: 390px) {
  .article__title {
    font-size: 11px;
  }
}

@media (min-width: 500px) {
  .article__title {
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  .article__title {
    font-size: 14px;
  }
}

@media (min-width: 800px) {
  .article__title {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .article__title {
    font-size: 24px;
  }
}

.two__column {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.footer__decoration__left {
  position: absolute;
  top: -110px;
  left: 0;
  max-width: 100%;
  display: block;
}

.footer__decoration__right {
  position: absolute;
  top: -60px;
  right: 0;
  max-width: 100%;
  display: block;
}

.footer__decoration__bottom {
  position: relative;
  bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.footer__icons {
  text-align: center;
}

.section-bg--grey {
  background-color: #eef3f6;
  background-image: url(../images/background_doodle_kids.png);
}

.section-bg--grey-monster {
  background-image: url(../images/background_doodle.png), url(../images/background_monster.png);
  background-position: right bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
}

.section-bg--blue {
  background-color: #3642ae;
  margin-top: -30px;
  background-image: url(../images/footer.png);
  position: relative;
}

.text__column {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
}

.container__title {
  padding-top: 100px;
  padding-left: 50px;
}

.button__image {
  position: relative;
}

.button__text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: white;
}
