.menu__item {
    margin-right: 20px;
    color: #626262;
}

.nav-column {
    text-align: right;
    margin-right: 10px;
    top: 50%;
}

body {
    font-family: "Ubuntu";
}

.wrapper {
    width: 100%;
    margin-top: 0;
    position: relative;
}

.highlighted {
    color: #333795;
}

.aqua {
    color: #33beb7;
}

.banner {
    &__background__image {
        position: relative;
    }
    &__background__doodle {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__video {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        max-width: 60%;
    }
    &__text {
        color: white;
        @media (min-width: 300px) {
            font-size: 8px;
        }
        @media (min-width: 390px) {
            font-size: 11px;
        }
        @media (min-width: 500px) {
            font-size: 15px;
        }
        @media (min-width: 600px) {
            font-size: 20px;
        }
        @media (min-width: 800px) {
            font-size: 26px;
        }
        @media (min-width: 1000px) {
            font-size: 32px;
        }
    }
    &__separator {
        @media (min-width: 300px) {
            width: 40%;
        }
        @media (min-width: 380px) {
            width: 40%;
        }
        @media (min-width: 800px) {
            width: 40%;
        }
        @media (min-width: 1000px) {
            width: 40%;
        }
    }
    &__image {
        position: absolute;
        left: 10%;
        bottom: 0;
    }
    &__container__image {
        margin-right: 0;
        max-height: 100%;
    }
}

.image__kid {
    float: right;
    max-height: 100%;
}

.wrapper {
    &__text {
        left: 10px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
    &__right__text {
        text-align: justify;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        height: 100%;
        @media (min-width: 300px) {
            letter-spacing: -1px;
            font-size: 8px;
            overflow: auto;
        }
        @media (min-width: 390px) {
            font-size: 10px;
        }
        @media (min-width: 500px) {
            font-size: 11px;
        }
        @media (min-width: 600px) {
            font-size: 12px;
        }
        @media (min-width: 800px) {
            font-size: 15px;
        }
        @media (min-width: 1000px) {
            font-size: 19px;
        }
    }
    &__container {
        max-width: 1200px;
        position: absolute;
        margin-right: auto;
        margin-left: auto;
    }
}

.content__container {
    min-height: 500px;
}

.article {
    &__title {
        text-align: left;
        @media (min-width: 300px) {
            letter-spacing: -1px;
            font-size: 9px;
            overflow: auto;
        }
        @media (min-width: 390px) {
            font-size: 11px;
        }
        @media (min-width: 500px) {
            font-size: 12px;
        }
        @media (min-width: 600px) {
            font-size: 14px;
        }
        @media (min-width: 800px) {
            font-size: 20px;
        }
        @media (min-width: 1000px) {
            font-size: 24px;
        }
    }
}

.two__column {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.footer__decoration {
    &__left {
        position: absolute;
        top: -110px;
        left: 0;
        max-width: 100%;
        display: block;
    }
    &__right {
        position: absolute;
        top: -60px;
        right: 0;
        max-width: 100%;
        display: block;
    }
    &__bottom {
        position: relative;
        bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }
}

.footer {
    &__icons {
        text-align: center;
    }
}

.section-bg {
    &--grey {
        background-color: rgb(238, 243, 246);
        background-image: url(../images/background_doodle_kids.png);
    }
    &--grey-monster {
        background-image: url(../images/background_doodle.png), url(../images/background_monster.png);
        background-position: right bottom, right bottom;
        background-repeat: no-repeat, no-repeat;
    }
    &--blue {
        background-color: rgb(54, 66, 174);
        margin-top: -30px;
        background-image: url(../images/footer.png);
        position: relative;
    }
}

.text__column {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
}

.container {
    &__title {
        padding-top: 100px;
        padding-left: 50px;
    }
}

.button {
    &__image {
        position: relative;
    }
    &__text {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        color: white;
    }
}